body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  header {
    background: #19c971;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    background: #7bf7af;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .section-image {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background: #19c971;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
  }

.city{
  display: block;
  text-align: center;
}

.field{
  display: block;
  text-align: center;
}

.intro{
  text-align: center;

}

.concclusion{
  text-align: center;
}